<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="mongodb" connectionString="mongodb://sa:M0ng0DB4dmin@localhost:27017/admin?ssl=false+authSource=admin"/>
	</connectionStrings>
	<appSettings>
		<add key="database" value="landrope"/>
	</appSettings>
</configuration>